


*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html{
  background-color: #001f3f;
  display: flex;
  justify-content: center;
}
body{
  margin:20px;
 color: rgb(224, 110, 68);

}
h1{
  text-align: center;
}

.main{
  display: flex;
  flex-direction: column;
}

label{
   margin: 10px;
}

div.rating{
  margin: 5px;
  display: inline-block;
}

fieldset{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
 }
button{
  background-color:#ebde9a;
  width: 50%;
  align-content: center;
  color: #001f3f;
  margin-left:5px;
}


.submit-button{
  margin-left:25%;
}

select {
  color:#001f3f;

}

.add-new{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}
ul{
  align-items: center;
}

.bookmark-element{
  display:flex;
  flex-direction: column;
  list-style: none;
}

.container {
  background-color: #eee;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgb(202, 74, 74);

}
.panel {
  padding: 0 10px;
  background-color: rgb(202, 74, 74);
  display: none;
  /* overflow: hidden; */
  /* max-height: 0; */
  transition: 0.2s ease-out;
  color: #444;
  
}

input.star {
  display: none;
}

label.star {
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  color: rgb(100, 90, 90);
  transition: all .2s;
  margin:5px;
}

label.star:hover { transform: rotate(-15deg) scale(2.3);
  color: orange;
   }

label.star:before {
  content: '\f005';
  font-family: FontAwesome;
}

.rating{
  color: orange;
}
